<tr>
  <td class="user-column"><%= link_to user.display_name, user %></td>
  <td>
    <a class="tag">This is a tag</a>
    <a class="tag">Tag</a>
    <a class="tag">Tis a tag</a>
  </td>
  <td>
    <a class="table-button">Unsubscribe</a>
  </td>
</tr>
