<tr>
  <td class="user-column"><%= user.display_name %></td>
  <td>
    <a class="badge">This is a tag</a>
    <a class="badge">Tag</a>
    <a class="badge">Tis a tag</a>
  </td>
  <td>
    <a class="badge warning">Unsubscribe</a>
  </td>
</tr>


