<div class="container">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Popular Learnings</th>
        <th>Subscription</th>
      </tr>
      <%= render @users %>
    </table>
</div>
