<% content_for :top_container do %>
  <div class="m-my-area-empty"></div>
<% end %>

<% content_for :filter_tabs do %>
  <div class="tab-section">
    <div class="container">
      <%= render 'filter_tabs' %>
    </div>
  </div>
<% end %>

<div class="container">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Popular Learnings</th>
        <th>Subscription</th>
      </tr>
      <%= render @users %>
    </table>
</div>
