<div class="tab-section">
  <div class="container">
    <ul class="nav nav-tabs visible-tablet visible-desktop">
      <li class="active"><a href="#">My Subscriptions</a></li>
      <li><a href="#">My Followers</a></li>
      <li><a href="#">Everyone</a></li>
    </ul>
    <ul class="nav nav-tabs visible-phone">
      <li class="active"><a href="#">My Subsc.</a></li>
      <li><a href="#">Followers</a></li>
      <li><a href="#">Everyone</a></li>
    </ul>
  </div>
</div>

<div class="container">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Popular Learnings</th>
        <th>Subscription</th>
      </tr>
      <%= render @users %>
    </table>
</div>
