<div class="container">
  <section>
    <ul>
      <%= render @user.posts %>
    </ul>
  </section>

  <aside>
    <%= link_avatar_and_username(@user) %>
    <h6>Joined <%= time_ago_in_words(@user.created_at) %> ago</h6>
  </aside>
</div>
