<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Today I Learned', root_path, class: 'brand' %>
        <% if signed_in? -%>
          <ul class="nav">
            <li class="active"><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'People', users_path %></li>
            <li><a href="#">Tags</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
          </ul>
        <% end -%>
      </div>
    </div>
  </div>
</header>
