<% content_for :filter_tabs do %>
  <div class="tab-section">
    <div class="container">
      <%= render 'filter_tabs' %>
    </div>
  </div>
<% end %>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th><p>Tag Name</p></th>
      <th><p>Number of occurances</p></th>
    </tr>
    <%= render partial: 'tags/tag', collection: @tags %>
  </table>
</div>
