<div class="tab-section">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">My Tags</a></li>
      <li><a href="#">Friends' Tags</a></li>
      <li><a href="#">Everyone's Tags</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th><p>Tag Name</p></th>
      <th><p>Number of occurances</p></th>
    </tr>
    <%= render partial: 'tags/tag', collection: @tags %>
  </table>
</div>
