<div class="container">
  <table class="table table-striped">
    <tr>
      <th><p>Tag Name</p></th>
      <th><p>Number of occurances</p></th>
    </tr>
    <%= render partial: 'tags/tag', collection: @tags %>
  </table>
</div>
