<%= simple_form_for @post, defaults: { label: false, as: :text } do |f| %>
  <div class="l-input">
    <%= f.input :lesson, input_html: { rows: 2 }, placeholder: 'Lesson' %>
    <%= f.input :tag_list, input_html: { rows: 1 }, placeholder: 'Tags'  %>
  </div>

  <div class="l-input-button">
    <div class="m-input-button">
      <%= f.button :submit, class: 'btn' %>
    </div>
  </div>
<% end %>
