<% content_for :my_area do %>
  <%= render 'form' %>
  <div class="l-landing-stats">
    <label for="">Statistics</label>
    <div class="m-stats">
    </div>
  </div>
<% end %>

<div class="container">
  <section>
    <ul>
      <%= render @posts %>
    </ul>
  </section>

  <aside>
    <div class="m-tags">
      <h3>Popular Tags</h3>
      <a class="badge">This is a tag</a>
      <a class="badge">This is other tag</a>
      <a class="badge">Tag</a>
      <a class="badge">This is another tag</a>
      <a class="badge">This is a tag</a>
      <a class="badge">This is another tag</a>
    </div>
  </aside>
</div>
