<div class="btn-group visible-phone pull-right">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-phone">
    <%= render 'navigation_tabs' %>
    <%= render 'user_menu' %>
  </ul>
</div>
