<% if @cloud_tags.present? %>
  <div class="m-tags">
    <h4>Popular Tags</h4>
    <% tag_cloud(@cloud_tags, %w(tag)) do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), id: tag, class: css_class %>
    <% end %>
  </div>
<% end %>
