<li><%= link_to t('navigation.profile'), current_user %></li>
<li><%= link_to t('navigation.settings'), edit_user_path(current_user) %></li>
<li><%= link_to t('layouts.application.sign_out'), sign_out_path, method: :delete %></li>
